.main {
  display: flex;
  justify-content: space-between;
  --size: 300px;
}

steering-wheel {
  display: block;
  width: var(--size);
  height: var(--size);
  overflow: hidden;
}
svg {
  width: var(--size);
  height: var(--size);

}

path {
  fill: #F525E8;
  fill: pink;
  transform-origin: 50% 50%;
}

.speed-control-wrapper {
  position: relative;
}

input[type=range] {
  --width: 80px;
  -webkit-appearance: slider-vertical;
  width: var(--width);
  padding: 0 5px;
  height: var(--size);
}

::-webkit-slider-runnable-track {
  background: #ddd;
}

::-webkit-slider-thumb {
  width: var(--width);
  min-width: var(--width);
  /* 1 */
  --height: 60px;
  height: var(--height);
  min-height: var(--height);
  background: #fff;

  border: 2px solid #999;
  /* 1 */
}
