.main {
  display: flex;
  justify-content: space-between;
  --size: 300px;
}

steering-wheel {
  display: block;
  width: var(--size);
  height: var(--size);
  overflow: hidden;
}
svg {
  width: var(--size);
  height: var(--size);
}

path {
  fill: #f525e8;
  fill: pink;
  transform-origin: 50% 50%;
}

.speed-control-wrapper {
  width: calc(var(--size) / 2);
  overflow: hidden;
  position: relative;
}

.power-arrow-placeholder {
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
}

.power-arrow {
  --arrow-width: 80px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: calc(var(--arrow-width) / 2) solid transparent;
  border-bottom: calc(var(--arrow-width) / 2) solid transparent;
  border-right: var(--arrow-width) solid red;
  left: 20px;
  top: 50%;
  margin-top: calc(var(--arrow-width) / (-2));
  z-index: -1;
}

.debug-monitor {
  height: 200px;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  overflow: auto;
  border: 1px solid black;
  padding: 5px;
}

.danger {
  color: red;
}
